.survivor__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  li {
    max-width: 100px;
    height: 150px;
    margin: 0 auto;
    img {
      max-width: 100%;
    }
    p {
      text-align: center;
    }
  }
}
