.description {
  margin-bottom: 20px;
  h3 {
    margin-bottom: 20px;
  }
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
.table th {
  font-weight: bold;
  padding: 5px;
  // background: #efefef;
  border: 1px solid #dddddd;
}
.table td {
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}

.th-one {
  color: rgb(232, 194, 82);
}

.th-two {
  color: rgb(60, 179, 113);
}

.th-three {
  color: rgb(145, 44, 238);
}

.feature {
  margin-bottom: 40px;
  h3 {
    margin-bottom: 20px;
  }
  li {
    margin-bottom: 10px;
  }
}

.note {
  margin-bottom: 20px;
  h3 {
    margin-bottom: 20px;
  }
  li {
    margin-bottom: 10px;
  }
}

.all-perks-link {
  display: block;
  text-decoration: none;
  width: 150px;
  height: 50px;
  background-color: rgb(82, 66, 66);
  border-radius: 5px;
  color: #ececec;
  border: 1px solid #fff;
  margin: 0 auto;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 14px;
  opacity: 1;
  transition: 0.2s;
  &:active {
    opacity: 0.5;
  }
}
