body {
  margin: 0;
  padding: 0;
  color: #ececec;
  min-width: 320px;
  background-color: #0b091c;
  background-image: url("https://i.pinimg.com/736x/4c/01/ce/4c01cec637ff4883f80c9dad12af7376.jpg");
  // background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;

  /* margin-left: calc(100vw - 100%);
  margin-right: 0; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

.container {
  max-width: 480px;
  margin: 0 auto;
}
